*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: url(/images/pic6.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   padding-top: 50px;
}
h1{
    padding: 5px 0;
    margin: 5px 0;
    color: darkgrey;
}
.block{
    display: flex;
    flex-direction: column;
}
.block input{
    padding: 8px 10px;
    margin-bottom: 14px;
    font-size: 18px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.block input:focus{
   outline: none;
   color: rgb(0, 0, 0,.8);
   font-size: 16px;
}

.block button{
    width: 60%;
    margin: 3px auto 25px auto;
    padding: 10px 0;
    background-color: rgb(7, 69, 7);
    color: white;
    border: none;
    text-align: center;
}
.block button:hover{
    background-color: rgb(7, 69, 7,.89)
}

.container{
    
    background-color: whitesmoke;
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 25px;
    margin: 0  auto;
   
}

.todo-container h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;

}

.todo:hover p{
    color: black;
    font-size: 17px;
    font-weight: bold;
}
.todo button{
    border: none;
}


.todo i{
    color: red;
    font-size: 17px;
    outline: none;
    padding: 3px;
}

.todo i:hover{
    color: white;
    background-color: red;
  
    font-size: 18px;
}

.todo-items{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.todo-items h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.todo-items .todo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    margin: 4px;
}

.todo p{
    font-size: 17px;
    color: rgb(0, 0, 0,.8);
}